{% extends "base.html" %}
{% block title_block %}
    <title>首页-新经资讯</title>
{% endblock %}

{% block script_block %}
    <script type="text/javascript" src="../static/news/js/index.js"></script>
{% endblock %}

<!-- import CSS -->
<!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<style>
    .el-carousel__item h3 {
        color: #475669;
        font-size: 14px;
        opacity: 0.75;
        line-height: 200px;
        margin: 0;
    }

    .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
    }

    .el-carousel__item:nth-child(2n+1) {
        background-color: #d3dce6;
    }
</style>
-->

{% block category_block %}
    <ul class="menu fl">
        {% for category in categories %}
            <li {% if loop.index == 1 %} class="active" {% endif %} data-cid="{{ category.id }}"><a
                    href="javascript:;">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

<!--
<div id="app">
    <template>
        <el-carousel :interval="4000" type="card" height="400px">
            <el-carousel-item v-for="item in 6" :key="item">
                {% for news in news_list %}
                    <li>
                        <img src="{{ news.index_image_url }}" alt="">
                        <a href="/news/1">{{ news.title }}</a>
                    </li>
                {% endfor %}

            </el-carousel-item>
        </el-carousel>
    </template>
</div>
</body>
<!-- import Vue before Element -->
<!--<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue().$mount('#app')
</script>
-->
{% block content_block %}
    <ul class="list_con fl">
    </ul>
{% endblock %}